external-sources=true

# Enable all checks as long as it works
# This might create surprises when updating shellcheck and it adds new checks.
# If this becomes annoying we have seletively enable checks
enable=all

# required checks, no reason not to fix them except difficulty and fear to break code
disable=SC2046

# optional checks, fixes might not be easy and better not break the code
disable=SC2292,SC2154,SC2312

# to be fixed
disable=SC2016,SC1091,SC2248,SC2086,SC2250,SC2242,SC2230,SC1008,SC2310,SC2145,SC2034,SC1113,SC2155
