# *******************************************************************************
# Copyright (c) 2025 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0
#
# SPDX-License-Identifier: Apache-2.0
# *******************************************************************************
name: Validate & Publish DevContainer
description: This workflow is checking that for releases, updates do not break stuff and publishes the released container.
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
jobs:
  pre-commit:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
      # code mostly taken from https://github.com/pre-commit/action/blob/main/action.yml
      - run: python -m pip install pre-commit==4.5.1
        shell: bash
      - run: python -m pip freeze --local
        shell: bash
      - uses: actions/cache@v5
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-3|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}
      - run: pre-commit run --show-diff-on-failure --color=always --all-files
        shell: bash
  build:
    strategy:
      matrix:
        os: [arm64, amd64]
        include:
          - os: amd64
            name: DevContainer (amd64)
            runner: ubuntu-24.04
          - os: arm64
            name: DevContainer (arm64)
            runner: ubuntu-24.04-arm
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runner }}
    needs: pre-commit
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      # Use .devcontainer from THIS repo for building and testing
      - name: Check, Build, Test, Publish
        uses: devcontainers/ci@v0.3
        with:
          # The .devcontainer is never published as pre-built container.
          # We want to only use it for building and testing the actual container, which resides in src/s-core-devcontainer.
          push: never
          runCmd: |
            set -eux pipefail

            # Create builder for multi-arch builds
            ./scripts/create_builder.sh

            # Build
            ./scripts/build.sh --${{ matrix.os }} "${{ github.ref_name }}" "latest"

            # Test
            ./scripts/test.sh

            # Publish
            # We do not use the push feature of devcontainers/ci here, since that would push the wrong container.
            # Instead, we use the publish script which pushes the correct container (residing in src/s-core-devcontainer).
            # manually login to ghcr.io for publishing
            echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            ./scripts/publish.sh --${{ matrix.os }} "${{ github.ref_name }}" "latest"
  merge:
    name: Merge Labels
    needs: [build]
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Checkout (GitHub)
        uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      # Use .devcontainer from THIS repo for building and testing
      - name: Merge
        uses: devcontainers/ci@v0.3
        with:
          # The .devcontainer is never published as pre-built container.
          # We want to only use it for building and testing the actual container, which resides in src/s-core-devcontainer.
          push: never
          runCmd: |
            set -eux pipefail

            # Merge
            # We do not use the push feature of devcontainers/ci here, since that would push the wrong container.
            # Instead, we use the publish script which pushes the correct container (residing in src/s-core-devcontainer).
            # manually login to ghcr.io for publishing
            echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            ./scripts/merge.sh "${{ github.ref_name }}" "latest"
